.kv-avatar .krajee-default.file-preview-frame,
.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
    height: 90px;
    width: 150px;
}

.kv-avatar {
    display: inline-block;
}

.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}

.kv-file-content {
    height: 100px;
    width: 150px;
}

.file-thumbnail-footer {
    height: 20px;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: 155px;
    height: 100px;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: 0px;
    visibility: hidden;
}

.krajee-default .file-footer-buttons {
    float: right;
    margin-top: 10px;
    visibility: hidden;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #858796;
    border-color: #858796;
}
